
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


.container{
 

    max-width: 1000px;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);


}
.box{
    background-color: rgb(0, 39, 1);
    height: 100%; 
   padding: 14px;
}

.blue{
    width: 500px;
    background-color: #C6DDE9;
    grid-column: 1 /2;
    grid-row: 1/3;

  
   
}


.container .blue h1{
    margin-top: 40px;
    margin-left: 2px;
    padding: 0 60px 0 60px;
    font-size: 42px;
    text-align: left;
   
}
.container .blue p{
    padding: 0 60px 0 60px;
    margin-top: 20px;
    line-height: 1.5;
   font-size: 14px;
   text-align: left;
 
   margin-left: 1px;
   text-align: left;

}
.container .orange h2{
   
    text-align: center;
    font-size: 14px;
  
 
  
  
   
 
 }



.container .orange p{
   
   text-align: center;
   font-size: 42px;
     color: #fff;

 
 
  

}

.container .goldenrod p{
   
    text-align: center;
    font-size: 42px;
      color: #fff;
 
  
  
   
 
 }
.orange{
    width: 470px;
    padding: 6rem;
    background-color: #F07949;
    grid-column: 2 /4;
 
 
 
}


.goldenrod{
    width: 470px;
    padding: 6rem;
    background-color: #F9B131;
    grid-column: 2 /4;
  
}

.container .oldenrod h2{
   
    text-align: center;
    font-size: 5px;
  
 
  
  
   
 
 }
.sub-container{
    display: flex;
    flex-direction: column;
}


.btn-img-container{
    display:flex;
    justify-content: space-between;
    margin-bottom: -66px;
}
 img{
    max-width:254px;

    
}


.btn{
    width: 120px;
    height: 40px;
    border:2px solid #fff;
    border-radius:120px;
    margin-top: 50px;
    margin-left: 65px;

    text-transform:uppercase;
   
}
p span{
    color: white;
}
