
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


.container{
 

    max-width: 1000px;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

}


